<ion-view view-title="INICIO">
  <ion-content>
  	 <div class="container">
      <div class="row">
        <div class="col cent">
          <h2>IMPORTANCIA DEL AGUA</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col cent">
          <h4> El agua es el elemento más importante para nosotros los seres vivientes, ya que es un recurso fundamental</h4>
          <iframe width="380" height="280" src="https://www.youtube.com/embed/7UHFvyhKIXU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col cent">
          <h2>IMPORTANCIA DEL AGUA</h2>
          <br>
          <iframe width="380" height="200" src="https://www.youtube.com/embed/m8U2l1FI3X0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
