<ion-view view-title="INICIO">
  <ion-content>
  	 <div class="container">
      <div class="row">
        <div class="col cent">
          <h2>IMPORTANCIA DEL AGUA</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col col-25"></div>
        <div class="col col-50">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/7UHFvyhKIXU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col col-25"></div>
      </div>
    </div>
  </ion-content>
</ion-view>
