<ion-view view-title="TABLA NUTRICIONAL">
  <ion-content>
     <!--TABLA NUTRICIONAL-->
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="cent">TABLA NUTRICIONAL</h2>
          <h5 class="texw">La información nutricional de un alimento se refiere a su valor energético y determinados nutrientes: grasas, grasas saturadas, hidratos de carbono, azúcares, proteínas y sal. El valor energético se expresará en primer lugar en kilojulios (kJ), seguido por el valor en kilocalorías (kcal), la cantidad de nutrientes en gramos (g). Las vitaminas y minerales en las unidades especificadas en la tabla siguiente. El valor energético y la cantidad de nutrientes se expresarán por 100 g o 100 ml.

          Cuando se facilite la información sobre vitaminas y minerales, se expresarán además como porcentaje de las ingestas de referencia de la tabla por 100 g o 100 ml.

          Vitaminas y Minerales que pueden declararse y sus valores de referencia de nutrientes (VRN)

</h5>
          <br>
          <div class="nutrifacts-html">
  <h2> Tabla Nutricional</h2>
  <span> Tamaño De La Porción: 40g (1 Tortilla)</span>
  <div class="separator"></div>
  <!-- Tabla -->
  <table>
    <tr>
      <td colspan="2">
        <strong> Cantidad Por Unidad</strong>
          </td>
    </tr>
    <tr>
      <td>
        <strong>Calorías<strong/> 141.48kcal  
      </td>
      <td class="libredeazucar"><strong>Libre De Azúcar</strong></td>
    </tr>
    <tr>
      <td></td>
      <td class="alinearcantidad"><strong>Cantidad</strong></td>
    </tr>
    <tr>
      <td><strong>Grasa Total</strong></td>
      <td class="alineartexto">2.72g</td>
    </tr>
    <tr>
      <td> Grasa Saturada</td>
      <td class="alineartexto">2.72g</td>
    </tr>
    <tr>
      <td><strong>Carbohidratos Totales</strong></td> 
      <td class="alineartexto">30.064g</td>
    </tr>
     <tr>
      <td>Azúcares</td>
      <td class="alineartexto">0g</td>
    </tr>
    
    <tr>
      <td>Fibra</td>
      <td class="alineartexto">3.4g</td>
    </tr>
    <tr>
      <td><strong>Sodio</strong></td>
      <td class="alineartexto">0.2g</td>
    </tr>
    <tr>
      <td><strong>Proteína</strong></td>
      <td class="alineartexto">3.71g</td>
    </tr>
    <tr>
      <td><strong>Fibra Dietética</strong></td>
      <td class="alineartexto">0.28g</td>
    </tr>
    <tr>
      <td><strong>Potasio</strong></td>
      <td class="alineartexto">64mg</td>
    </tr>
    <tr>
      <td><strong>Fósforo</strong></td>
      <td class="alineartexto">42.4mg</td>
    </tr>
    <tr>
      <td><strong>Ceniza</strong></td>
      <td class="alineartexto">0.24mg</td>
    </tr>
      
  </table>
</div>
        </div>
      </div>
    </div>
    <h2 class="asd">TABLAS NUTRICIONALES ALIMENTOS DE ADOLESCENTES</h2>
      
      <center>

        <div class="nutrifacts-html">
      <h3>DESAYUNO DEL adolescente
</h3>
      <span> huevos con frijoles, cereal y jugo de naranja</span>
      <div class="separator"></div>
      <!-- Tabla -->
      <table>
        <tr>
          <td colspan="2">
            <strong>comida sana</strong>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Calorias(energia)</strong> 800
          </td>
          <td class="align-text-right">calorias de grasa 300</td>
        </tr>
        <tr>
          <td></td>
          <td class="align-text-right">total caloria <strong>1200</strong></td>
        </tr>
        <tr>
          <td><strong>Total Fat</strong> 600g</td>
          <td class="align-text-right">99%</td>         
        </tr>
        <tr>
          <td>huevos 12</td>
          <td class="align-text-right">80%</td>
        </tr>
        <tr>
          <td>proteinas</td>
          <td></td>
        </tr>
        <tr>
          <td><strong>Colesterol</strong> 0mg</td>
          <td class="align-text-right">9%</td>          
        </tr>
        <tr>
          <td><strong>fibra</strong> 1200mg</td>
          <td class="align-text-right">62%</td>
        </tr>
        <tr>
          <td>Dietary Fiber 9g</td>
          <td class="align-text-right">35%</td>
        </tr>
        <tr>
          <td>azucar</td>
          <td>24%</td>
        </tr>
        <tr>
          <td><strong>magnesio</strong> 4,5</td>
          <td></td>
        </tr>
      </table>
      <div class="separator"></div>
      <!-- Vitamin table -->
      <table>
        <tr>
          <td>Vitamin B , B12, A13</td>
          <td class="align-text-right">9%</td>
          <td>• Vitamin C</td>
          <td class="align-text-right">112%</td>
        </tr>
        <tr>
          <td>Calcio</td>
          <td class="align-text-right">10%</td>
          <td>• hierro</td>
          <td class="align-text-right">21%</td>
        </tr>
      </table>
      <!-- Info -->
      <div class="info">
        el desayuno es la comida mas importante del día ya que es la fuerza para nuestras labores diarias
        </center>

 </div>

<img class="imm" src="img/1.jpg">


    <!-- Tabla de nutricion en HTML -->
    <center>
        <div class="nutrifacts-html">
      <h4>ALMUERZO adolescente
</h4>
      <span> Carne, ensalada y coca cola</span>
      <div class="separator"></div>
      <!-- Tabla -->
      <table>
        <tr>
          <td colspan="2">
            <strong>comida sana</strong>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Calorias</strong> 1500
          </td>
          <td class="align-text-right">calorias de grasa 700</td>
        </tr>
        <tr>
          <td></td>
          <td class="align-text-right">calorias totales<strong>2200</strong></td>
        </tr>
        <tr>
          <td><strong>Proteinas</strong> 64g</td>
          <td class="align-text-right">20.0%</td>         
        </tr>
        <tr>
          <td></td>
          <td class="align-text-right">80%</td>
        </tr>
        <tr>
          <td>Calcio</td>
          <td></td>
        </tr>
        <tr>
          <td><strong>grasa</strong> 98mg</td>
          <td class="align-text-right">0%</td>          
        </tr>
        <tr>
          <td><strong>Energia kcal</strong> 1485mg</td>
          <td class="align-text-right">62%</td>
        </tr>
        <tr>
          <td>Colesterol 100g</td>
          <td class="align-text-right">58%</td>
        </tr>
        <tr>
          <td>azucar</td>
          <td>50%</td>
        </tr>
        <tr>
          <td><strong>Protein</strong> 15g</td>
          <td></td>
        </tr>
      </table>
      <div class="separator"></div>
      <!-- Vitamin table -->
      <table>
        <tr>
          <td>Vitamin B12 ,B1s</td>
          <td class="align-text-right">9%</td>
          <td>• Vitamin C</td>
          <td class="align-text-right">112%</td>
        </tr>
        <tr>
          <td></td>
          <td class="align-text-right"></td>
          <td>• </td>
          <td class="align-text-right"></td>
        </tr>
      </table>
      <!-- Info -->
      <div class="info">
        almuerzo debemos comer moderadamente un poco más que el desayuno
        </center>
        <img class="imm" src="img/2.jpg">

      </div>
    </div>




   <center>

        <div class="nutrifacts-html">
      <h3>CENA DEL adolescente
</h3>
      <span> frijoles con queso y cafe</span>
      <div class="separator"></div>
      <!-- Tabla -->
      <table>
        <tr>
          <td colspan="2">
            <strong></strong>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Calorias</strong> 200g
          </td>
          <td class="align-text-right">calorias de grasa 100</td>
        </tr>
        <tr>
          <td></td>
          <td class="align-text-right">total calorias <strong>300</strong></td>
        </tr>
        <tr>
          <td><strong>Fribra</strong> 20g</td>
          <td class="align-text-right">64%</td>         
        </tr>
        <tr>
          <td>Saturated Fat 16g</td>
          <td class="align-text-right">80%</td>
        </tr>
        <tr>
          <td>Proteina</td>
          <td></td>
        </tr>
        <tr>
          <td><strong></strong> 0mg</td>
          <td class="align-text-right">0%</td>          
        </tr>
        <tr>
          <td><strong>sodio 800gm</strong> </td>
          <td class="align-text-right">45%</td>
        </tr>
        <tr>
          <td>colesterol 180gm</td>
          <td class="align-text-right">5%</td>
        </tr>
        <tr>
          <td>azucar</td>
          <td></td>
        </tr>
        <tr>
          <td><strong></strong> </td>
          <td></td>
        </tr>
      </table>
      <div class="separator"></div>
      <!-- Vitamin table -->
      <table>
        <tr>
                  <td class="align-text-right"></td>
          <td>• complejo B</td>
          <td class="align-text-right">112%</td>
        </tr>
        <tr>
          <td></td>
          <td class="align-text-right"></td>
          <td>• </td>
          <td class="align-text-right"></td>
        </tr>
      </table>
      <!-- Info -->
      <div class="info">
        en la cena es donde debemos comer un poco menos

        </center>

<img class="imm" src="img/3.jpg">

<center>

        <div class="nutrifacts-html">
      <h4>REFACCIÓN DEL adolescente
</h4>
      <span> jugo y  galletas</span>
      <div class="separator"></div>
      <!-- Tabla -->
      <table>
        <tr>
          <td colspan="2">
            <strong>comida sana</strong>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Calorias (energia)</strong> 140kl
          </td>
          <td class="align-text-right">calorias de grasa 100</td>
        </tr>
        <tr>
          <td></td>
          <td class="align-text-right">total calorias <strong>300</strong></td>
        </tr>
        <tr>
          <td><strong>colesterol OMG</strong> 0g</td>
          <td class="align-text-right">0%</td>         
        </tr>
        <tr>
          <td>fibra dieteria 16g</td>
          <td class="align-text-right">40%</td>
        </tr>
        <tr>
          <td>Proteina</td>
          <td></td>
        </tr>
        <tr>
          <td><strong></strong> 0mg</td>
          <td class="align-text-right">0%</td>          
        </tr>
        <tr>
          <td><strong></strong> </td>
          <td class="align-text-right">45%</td>
        </tr>
        <tr>
          <td></td>
          <td class="align-text-right"></td>
        </tr>
        <tr>
          <td>azucar</td>
          <td></td>
        </tr>
        <tr>
          <td><strong></strong> </td>
          <td></td>
        </tr>
      </table>
      <div class="separator"></div>
      <!-- Vitamin table -->
      <table>
        <tr>
                  <td class="align-text-right"></td>
          <td>• vitamis B1,C ,B12</td>
          <td class="align-text-right">112%</td>
        </tr>
        <tr>
          <td></td>
          <td class="align-text-right"></td>
          <td>• </td>
          <td class="align-text-right"></td>
        </tr>
      </table>
      <!-- Info -->
      <div class="info">
     una pequeña refacción para levantar el animo
   </div>
 </div>
 <img class="imm" src="img/4.jpg">
  </ion-content>
</ion-view>
