<ion-view view-title="ADN">
  <ion-content class="padding">
    </p>
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="cent"> ADN 3D</h2>
            <br>
            <h4>El ácido desoxirribonucleico, abreviado como ADN, siempre es un ácido nucleico que contiene las instrucciones genéticas usadas en el desarrollo y funcionamiento de todos los organismos vivos y algunos virus; también es responsable de la transmisión hereditaria.</h4>
             <br><br> 
        </div>
      </div>
    </div>
    <div class="container ">
      <div class="row">   
          <div class="col">  
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          </div>
      </div>
    </div>
  </ion-content>
</ion-view>
