<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="INICIO" icon-off="ion-ios7-videocam" icon-on="ion-ios7-videocam" href="#/tab/inicio">
    <ion-nav-view name="tab-inicio"></ion-nav-view>
  </ion-tab>
  <!-- Dashboard Tab -->
  <ion-tab title="ADN" icon-off="ion-loading-a" icon-on="ion-loading-a" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="INFOGRAFIAS" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="TABLA NUTRICIONAL" icon-off="ion-android-note" icon-on="ion-android-note" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <ion-tab title="JUEGO" icon-off="ion-ionic" icon-on="ion-ionic" href="#/tab/juego">
    <ion-nav-view name="tab-juego"></ion-nav-view>
  </ion-tab>


</ion-tabs>
